<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteAll">

    <listeners>
        <listener class-name="base.ListenerHelper"/>
    </listeners>

    <test  name="RegistrationPageTest">
        <classes>
            <class name="pageTests.RegistrationPageTest"/>
        </classes>
    </test>

    <test  name="ContactPageTest">
        <classes>
            <class name="pageTests.ContactPageTest"/>
        </classes>
    </test>

    <test  name="PaymentPageTest">
        <classes>
            <class name="pageTests.PaymentPageTest"/>
        </classes>
    </test>
</suite>